.container {
  width: 95vw;
  color: #e8e8e8	;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  text-align: center;
  font-size: 4vh;
}

.info {
  margin-left: 1vh;
  font-size: 3vh;
  text-align: left;
  font-weight: 700;
}
