.container {
  width: 100%;
  margin-top: 32vh;
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #e8e8e8;
  text-align: left;
}

.text1 {
  /* Tobias Nicolas Nuñez */
  font-family: "Oswald", sans-serif;
  font-size: clamp(3rem, 1.559rem + 6.588vw, 6.5rem);
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.2s steps(50, end);
}

.text2 {
  /* FullStack Developer */
  text-align: center;
  color: #8c8c8c;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 0.779rem + 3.294vw, 3.25rem);
  opacity: 0;
  font-weight: 500;
}

.langButtons {
  /* Language buttons */
  display: flex;
  justify-content: center;
  gap: 2.5vh;
  margin-top: 3vh;
  opacity: 0;
}

.langButton {
  background-color: transparent;
  padding: 10px 20px;
  width: 40%;
  text-decoration: none;
  font-size: clamp(0.8rem, 0.512rem + 1.318vw, 1.5rem);
  font-weight: 500;
  color: #e8e8e8;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}

.langButton:hover {
  transition: 0.8s;
  cursor: pointer;
  background-color: #1eff05;
  color: #000000;
  border: 1px solid #1eff05;
}

.socialButtons {
  /* Github, Linkedin */
  position: absolute;
  bottom: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 0.5vh;
  margin-top: 5vh;
  font-size: clamp(2rem, 1.671rem + 1.506vw, 2.8rem);
  opacity: 0;
}

.socialButton {
  color: #e8e8e8;
  opacity: 30%;
}

.socialButton:hover {
  transform: scale(1.1);
  transition: 0.8s;
  opacity: 100%;
}

.text2 {
  animation: fadeIn 1s forwards 0.8s;
}

.langButtons {
  animation: fadeIn 1s forwards 1.2s;
}

.socialButtons {
  animation: fadeIn 1s forwards 1.6s;
}

/* Animations */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Responsive desing */

@media only screen and (min-width: 768px) {
  .container {
    margin-top: 30vh;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    margin-top: 27vh;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    margin-top: 21vh;
  }
}
