*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 2.5vh;
    width: 95vw;
    color: #e8e8e8	;
    display: flex;
    justify-content: center;
}

.navBar{
    display: flex;
    gap: 2vh;
    list-style: none;
}

.navButton{
    font-size: 3vh ;
    font-weight: 700;
}