.container {
  width: 100vw;
  height: 8vh;
  position: fixed;
  background: #0b0b0b;
}

.navBar {
  margin: 0 2vw 2vh 2vw;
  padding-top: 2vh;
  list-style: none;
  display: flex;
  gap: 2.5vh;
  justify-content: flex-end;
  align-items: center;
}

.navBar li:first-child {
  margin-right: auto;
}

.name, .menuButton {
    /* Tobias Nicolas Nuñez */
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: clamp(1.2rem, 1.035rem + 0.753vw, 1.6rem);
  font-weight: 600;
}

.item {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: clamp(1.2rem, 1.035rem + 0.753vw, 1.6rem);
  position: relative;
  overflow: hidden;
}

.item::before {
  /* Undeline Effect */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-out;
}

.item:hover {
  transition: 0.5s;
  color: #1eff05;
}

.item:hover::before {
  /* Undeline Effect */
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  background: #1eff05;
}


.sideBar {
  position: fixed;
  list-style: none;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sideBarItem,
.closeButton {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.menuButton {
  display: none;
}

.closeButton {
  position: absolute;
  top: 2.5%;
  right: 5%;
}

.show {
  display: flex;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menuButton {
    display: block;
  }
}
