.navButton {
  background-color: transparent;
  padding: 10px 20px;
  width: 16vh;
  text-decoration: none;
  font-size: 1.5vh;
  font-weight: 500;
  color: #dbd8e3;
  border: 1px solid #dbd8e3;
  border-radius: 5px;
}

.navButton:hover {
  transition: 0.8s;
  cursor: pointer;
  background-color: #5c5470;
  color: #352f44;
  border: 1px solid #5c5470;
}

@media only screen and (min-width: 768px) {
  .navButton {
    width: 18vh;
    font-size: 1.75vh;
  }
}

@media only screen and (min-width: 992px) {
  .navButton {
    width: 22vh;
    font-size: 2.25vh;
  }
}

@media only screen and (min-width: 1200px) {
  .navButton {
    width: 28vh;
    font-size: 2.5vh;
  }
}
