.container{
    width: 95vw;
    align-items: center;
    color: #e8e8e8;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    font-size: 4vh;
}


.icons{
    text-align: center;
    display: flex;
    gap: 8vw;
    font-size: 4vh;
}
