.navButton {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #e5eaf5;
  width: 16vh;
  background-color: transparent;
  border: 1px solid #e5eaf5;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.navButton:hover {
  cursor: pointer;
  background-color: #8458B3; /* Cambio de color al pasar el mouse */
  border: 1px solid #8458B3;
}