.navButton {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff; /* Color del texto */
  width: 130px;
  background-color: transparent;
  border: 1px solid #ffffff; /* Borde blanco */
  transition: background-color 0.5s;
}

.navButton:hover {
  background-color: #DA70D6; /* Cambio de color al pasar el ratón */
  border: 1px solid #DA70D6;
}