@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;}

body {
  background-color: #000000	
  ;
  display: flex;
  justify-content: center;
}
